apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-brendrel
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-brendrel:467d6a37fcae9012f39df03cf6b1ad9164122b2b@sha256:c47d542907722ca33dddec3cb4bf2c3f74b0c3a22a39f37c20a34eb2c2a0bc9d
        name: container-image  
